.korea{
	color:#000000;
	width:200px;
	line-height:30px;
	text-align:center;
	padding:30px; /* 경계선과 콘텐츠와의 여백 */
	border:1px solid rgb(18, 52, 88);
	/* 여러 속성의 값을 한 번에 적용할 때 공백으로 구분 */	
	/* ,는 동일한 속성의 값을 여러 개 적용할 때 구분 */
	background:#eeeeee;
	/* 여러 개의 값을 지정할 수 있는 속성의 경우에 뒤에서 부터 값 생략이 가능합니다. */
	/* css 나 javascript는 옵션에 전부 기본값이 설정되어 있습니다. */
	border-radius:15px;
	box-shadow:0px 0px 50px 15px rgba(18,52,88,0.7);
	
}
.korea p{vertical-align:middle;}

/* menu 클래스를 가진 객체들을 왼쪽부터 배치하고 오른쪽에 다른 콘텐츠를 배치할 수 있도록 설정 */
.menu{
	float:left;
	margin:10px;
}
/* title 클래스를 가진 객체는 이전에 적용된 float을 해제하고 원래대로 배치 */
.title{
	clear:both;
}

table{
	border:1px solid black;
	width:400px;
}

th, td{
	width:200px;
}

.contents{
	width:420px;
	height:100px;
	overflow:auto;
	text-align:center;
}

#transform{
	width:200px;
	height:60px;
	text-align:center;
	background-color:green;
	
	/*transform 변환은 원본의 속성을 변경하는 것이 아니고 출력될 때
	행렬과의 연산을 이용해서 보이기만 그렇게 되도록 하는 것입니다. */
	-webkit-transform:scale(2.0);
	/*-webkit-transform:rotate(45deg);*/
	/*-webkit-transform:skew(10deg, 10deg);*/
}

#menu{
	font:20px;
	width:150px;
	height:20px;
	color:red;
	background:#abc;
	
	-webkit-transition:width 2.0s;
	-webkit-transition:color 2.0s;
	-webkit-transition:background-color 2.0s;
}

#menu:hover{
	width:300px;
	color:#c00;
	background-color:papayawhip;
}

@-webkit-keyframes keyany{
	from{
		left:0px;
		-webkit-transform:rotate(0deg);
	}
	50%{
		left:700px;
		top:100px;
	}
	to{
		left:700px;
		top:400px;
		background-color:red;
		-webkit-transform:rotate(3600deg);
	}
}

img{
	position:absolute;
	-webkit-animation-name:keyany;
	-webkit-animation-duration:10s;
	-webkit-animation-iteration-count:3;
}







