<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>박스의 경계선과 그림자 효과</title>
<link rel="stylesheet" href="./../resources/css/0205.css">
</head>
<body>
	<h1 class="korea"><p>대한민국</p></h1>
	
	<div class='menu'>Unix</div>
	<div class='menu'>Mac OS X</div>
	<div class='menu'>Linux</div>
	<div class='menu'>Windows</div>
	
	<!-- 다음 줄로 내리고자 하면 기존 float를 해제해야 합니다. -->
	<div class='title'><h2>운영체제</h2></div>
	
	<table>
		<tr>
			<th>이름</th>
			<th>언어</th>
		</tr>
	</table>
	
	<div class='contents'>
	<table>
		<tr>
			<td>데니스 리치히</td>
			<td>C언어</td>
		</tr>
		<tr>
			<td>제임스 고슬링</td>
			<td>Java</td>
		</tr>
		<tr>
			<td>귀도 반 로섬</td>
			<td>Python</td>
		</tr>
		<tr>
			<td>브렌던 아이크</td>
			<td>Javascript</td>
		</tr>
		<tr>
			<td>비야네 스트로스스트룹</td>
			<td>C++</td>
		</tr>
		<tr>
			<td>아르네스 하일스베르</td>
			<td>C#</td>
		</tr>
	</table>
	</div>
	
	<div id="transform">변환</div>
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>